@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bebas+Neue&display=swap');

.all{
    text-align: center;
}

.genzlogo{
    color: #ABF8CA;
    font-size: 62px;
    -webkit-text-stroke: 1px black;
    font-family: "Aldrich", sans-serif;
}
.txtdynamics{
    font-size: 64px;
    margin-top: -85px;
    font-family: "Aldrich", sans-serif;
}

.programaaux{
    font-family: "Bebas Neue", sans-serif;
    margin-top: -20px;
    font-size: 64px;
}    

:root {
    --verde: #ABF8CA;
}


footer {
    background-color: black;
}