/* DEFINIÇÕES BÁSICAS */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --verde: #ABF8CA;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Aldrich", sans-serif;
}

.aldrich-regular {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
}

a{
  text-decoration: none;
  color: black;
}

.flex{
    display: flex;
}
.container{
    padding: 50px 200px;
}

/* ------------- HEADER --------------*/
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

header > div {
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-align: center;
  max-width: 190px;
  padding: 20px 0;
}

.logo > a {
  font-size: 36px;
  color: rgb(0, 0, 0);
}

.logo :first-child {
  color: var(--verde);
}

.pesquisaRapida {
  display: flex;
  align-items: center;
  gap: 50px;
}

.pesquisaRapida a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  max-width: 150px;
  transition: 1s;
}
.pesquisaRapida a:hover{
    transform: scale(1.2);
    color: var(--verde);
}


/* ------------- HERO --------------*/
.carousel {
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    display: flex;
    position: relative;
  }

  .background{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    align-items: center;
    justify-content: right;
  }
  
  .hero-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    color: var(--verde);
    text-shadow: 3px 3px 5px rgba(78, 78, 78, 0.5);
    line-height: 1.3;
    gap: 10px;
  }
  
  .hero-content .pt {
    font-size: 150px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    line-height: 1.1;
    color: var(--verde);
  }
  
  .hero-content p {
    font-size: 48px;
    font-weight: 400;
    color: black;
    margin-top: 0;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 
    3px 3px 5px rgba(121, 121, 121, 0.5), 
    -3px -3px 5px rgba(121, 121, 121, 0.5), 
    3px -3px 5px rgba(121, 121, 121, 0.5), 
    -3px 3px 5px rgba(121, 121, 121, 0.5);
  }

/* ------------- BONECO ---------------------- */
.container.boneco {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
    margin: 0;
    background: linear-gradient(to bottom, #ABF8CA, rgb(255, 255, 255));
    padding: 0;
    position: relative;
}
.aldrich-regular {
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#div_tudo {
    position: relative;
    height: 300px;
}

.nuvens {
    position: relative;

}

.nuvens img {
    width: 200px;
    height: auto; 
    position: absolute;
}

#nuvem1 {
    bottom: -100px;
    left:-300px;
    opacity: 0;
}
#nuvem1.animate{
    animation: movenuvem1 35s infinite;
    opacity: 1;
}
#nuvem2 {
    bottom: 0; 
    left:200px;
    opacity: 0;
}
#nuvem2.animate{
    animation: movenuvem2 35s infinite;
    opacity: 1;
}
#nuvem3 {
    bottom: -100px;
    left:700px;
    opacity: 0;
}
#nuvem3.animate{
    animation: movenuvem3 35s infinite;
    opacity: 1;
}
#osdois{
    display: flex;
    position: relative; 
    filter: contrast(1.5);
    opacity: 0;
}
#osdois.animate{
    animation: moveSprite 12s forwards;
    opacity: 1; 
}
#sprite {
    width: 320px; 
    height: 320px;
    background-image: url('sprites/sprite1.png'); 
    background-size: cover; 
    position: relative;
    bottom: -160px;
    left: 100px; 
    filter: drop-shadow(0.5px rgba(0, 0, 0, 1));
    z-index: 2; 
}

#h1 {
    filter: contrast(1.5) drop-shadow(2px rgba(0, 0, 0, 1));
    font-size: 25px;
    font-weight: 1000;
    margin-bottom: 10px;
}
#caixa {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    width: 350px;
    height: 350px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    display: flex;
    justify-content: center; 
    text-align: center;
    filter: contrast(1.5) drop-shadow(10px -10px rgba(0, 0, 0, 1));
    flex-direction: column;
    font-family: "Aldrich";
    z-index: 2;
}

@keyframes moveSprite {
    0% {
        left: -80vw; 
    }
    100% {
        left: -8vw;
    }
}
@keyframes movenuvem1 {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(100vw); 
    }
}

@keyframes movenuvem2 {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(100vw);
    }
}

@keyframes movenuvem3 {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(100vw);
    }
}

/* ------------- CARROSSEL CARDS --------------*/
.carrossel{
    background-image: linear-gradient(white, var(--verde));
}
.content{
    align-items: center;
    gap: 150px;
    flex-direction: column;
}

/* Pergunta no topo da seção */
.pergunta{
    border: 2px solid black;
    border-radius: 50px;
    align-items: center;
    gap: 50px;
    font-size: 60px;
    flex-direction: row;
    padding: 40px 100px;
    box-shadow: 0 0 20px gray;
    background-color: white;
    border-radius: 10px;
}
.pergunta > *{
    text-shadow: 0 3px 5px gray;
}
.pergunta > p{
    font-family: "Bebas Neue", sans-serif;
}

/* Carrossel */
.slider{
    max-width: 88%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.flecha{
    font-size: 100px;
    transition: ease 0.3s;
}
.flecha:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.slider > div{
    overflow: hidden;
}
.slideDiv{
    padding: 20px 0;
    gap: 140px;
    transition: 1s ease-in-out;
}

.slides{
    min-width: 400px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 34px;
    text-align: center;
    background-color: white;
    box-shadow: black 20px -20px 0;
    padding: 75px 20px;
}
.slides > i{
    font-size: 130px;
}

/* ------------- SEÇÃO SOBRE IA --------------*/
@keyframes balancar {
    0% {
      transform: rotate(8deg);
    }

    50% {
        transform: rotate(-8deg);
    }

    100% {
      transform: rotate(8deg);
    }
  }

  .ia{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(var(--verde), white);
  }

  #abrir {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    justify-content: center;
}

.containerIa {
    color: white;
    background-color: black;
    width: 1300px;
    height: 175px;
    margin: auto;
    text-align: center;
    align-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.containerIa > p {
    font-size: 48px;
    font-family: 'Bebas Neue';
}

.puxador {
    text-align: center;
    background-image: url(../midia/puxador/segurando-high_2.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    animation: balancar 3s infinite ease-in-out;
    transform-origin: 62px 0px;
    cursor: grab;
    translate: 0px -2px;
}

.insight_ia {
    display: flex;
    align-items: center;
    background-color: rgb(20, 20, 20);
    width: 1300px;
    margin: auto;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.insight_ia img {
    height: 420px;
    width: 420px;
    margin-left: 83px;
}

.insight_ia p {
    color: white;
    font-size: 24px;
    margin: 0px 80px;
}

/* ------------- AVALIAÇÃO --------------*/
.seçao_5{
    text-align: center;
    position: relative;
}
.darkground{
    width: 100%;
    height: 100%;
    position: absolute;
}

.botao_treino{
    background-color: var(--verde);
    text-decoration: none;
    margin-top: 50px;
    padding: 50px 100px;
    font-size: 44px;
    box-shadow: 30px -30px black;
    transition: 1s ease;
}
.botao_treino:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.genz_logo{
    color: var(--verde);
    font-size: 62px;
    -webkit-text-stroke: 1px black;
    font-family: "Aldrich", sans-serif;
}

.avaliacao{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.txt_dynamics{
    font-size: 64px;
    margin-top: -25px;
    font-family: "Aldrich", sans-serif;
    text-align: center;
}

.programa_aux{
    font-family: "Bebas Neue", sans-serif;
    font-size: 64px;
    text-align: center;
    margin-top: 10px;
}

.modal{
    background-image: linear-gradient(white, var(--verde));
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 917px;
    height: 572px;
    border: 5px solid black;
    padding: 50px;
    display: none;
}
.modal p{
    font-size: 24px;
    margin: auto;
}
.modal h1{
    font-size: 96px;
    margin: 0px 0px 0pc 50px;
}
.aviso_secao5{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.modal a{
    background-color: black;
    margin: auto;
    font-size: 20px;
    color: white;
    padding: 20px 50px;
    transition: 1s;
}
.modal a:hover{
    transform: scale(1.1);
}

.modal img{
    margin: auto;
    width: 129px;
    height: 129px;
}

#particles-js{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* ------------- SOBRE NÓS --------------*/
#sobreNos {
    background: linear-gradient(rgba(255,255,255,1) 0%, rgba(176,252,204,1) 35%, rgba(0,0,0,1) 100%);
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
}

.sobreTextoCaixa, .sobreIntegrante {
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
}

.txtdynamicsBranco{
    font-size: 64px;
    margin-top: -85px;
    font-family: "Aldrich", sans-serif;
    color: white;
}

.sobreFlecha {
    width: 50px;
    height: 50px;
    filter: drop-shadow(-2px 2px 4px black);
}

.sobreFlecha:hover {
    transform: scale(1.1);
}

.sobreIntegrante {
    filter: drop-shadow(30px -30px black);
    max-width: 420px;
    max-height: 433px;
}

.sobreImagem {
    display: flex;
    align-items: center;
    width: 420px;
    height: 433px;
}

.sobreTexto {
    width: 700px;
    height: 400px;
    background-color: white;
    padding: 20px;
    font-family: "Aldrich";
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    filter: drop-shadow(-10px 10px 30px #000000);
}

.sobreTudo {
    display: flex;
    align-items: flex-end;
    gap: 50px;
}

.sobreTitulo {
    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: 48px;
}

.sobreEscrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#sobreNome {
    margin: 15px 0px;
    font-weight: bold;
    font-size: larger;
}

/* ------------- FOOTER --------------*/
footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Aldrich";
    color: white;
}

#footerOpenAI {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#footerOpenAI > p {
    margin-bottom: 0;
    transform: translateY(-6px);
}

#footerOpenAI img {
    height: 55px;
    width: auto;
    margin-top: 6px;
}

.footerGenZ{
    color: var(--verde);
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    font-family: "Aldrich", sans-serif;
    text-align: center;
    line-height: 30px;
}

.footerDynamics{
    font-size: 30px;
    font-family: "Aldrich", sans-serif;
    text-align: center;
    line-height: 30px;
}

#footerContato {
    text-align: center;
}
