<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenZ Dynamics</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/3fb66d1327.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div>
            <div class="logo">
                <a href="#">GenZ</a>
                <a href="#">Dynamics</a>
            </div>
            <nav class="pesquisaRapida">
                <a href="#avaliacao">Avaliação</a>
                <a href="#faleConosco">Fale Conosco</a>
                <a href="#inteligenciaArtificial">Inteligência Artificial</a>
                <a href="#sobreNos">Sobre Nós</a>
            </nav>
        </div>
    </header>
    <main>
        <section id="hero">
            <div class="carousel">
                <div class="background flex">
                    <div class="hero-content container">
                    <h1 class="pt">MOVIMENTE O CORPO, <br> EQUILIBRE A MENTE.</h1>
                    <p>Exercitar-se é um presente para o corpo <br> e uma transformação para a mente.</p>
                    </div>  
                </div>
            </div>
        </section>
        <section class="container boneco" id="container_boneco">
            <div id="div_tudo">
                <div class="nuvens">
                    <img src="../static/images/nuvem.png" id="nuvem1" class="nuvens">
                    <img src="../static/images/nuvem.png" id="nuvem2" class="nuvens">
                    <img src="../static/images/nuvem.png" id="nuvem3" class="nuvens">
                </div>
            
                <div id="osdois">
                    <img id="sprite" src="../static/images/empurrando/1.png" alt="Sprite">
                    <div id="caixa">
                        <h1 id="h1">POR QUE DEVEMOS SER ATIVOS?</h1>
                        <p>De acordo com estudos e trabalhos desenvolvidos por pesquisadores,
                            manter o corpo exercitado é essencial para a saúde, sendo possível obter, além dos
                            benefícios físicos, melhoras psicológicas e emocionais, como alívios de sintomas 
                            ansiosos e depressivos.<br><br> As taxas de prevalência a obesidade e sedentarismo vem aumentando
                            cada vez mais, não apenas no Brasil, mas no mundo todo. Comprometa-se com o exercício,
                            seu corpo e mente agradecem!</p>
                    </div>
                </div>    
            </div>
        </section>
        <section class="carrossel container">
            <div class="content flex">
                <div class="pergunta flex">
                    <p>Como a atividade física muda nosso corpo?</p>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="slider flex">
                    <i class="fa-solid fa-arrow-left flecha" onclick="mudaImg2()"></i>
                    <div class="flex">
                        <div class="slideDiv flex" id="slide">
                            <div class="slides flex">
                                <i class="fa-solid fa-person-running"></i>
                                <p>Exercícios anaeróbicos fortificam a musculatura corporal, proporcionando maior resistência física, tornando o praticante mais forte.</p>
                            </div>
                            <div class="slides flex">
                                <i class="fa-solid fa-brain"></i>
                                <p>Mantendo a constância, é possível sentir-se mais confiante e notar uma melhora estética significante em seu corpo.</p>
                            </div>
                            <div class="slides flex">
                                <i class="fa-solid fa-heart-circle-check"></i>
                                <p>A prática saudável de atividades físicas aumenta o potencial do coração, melhorando a circulação sanguínea.</p>
                            </div>
                            <div class="slides flex">
                                <i class="fa-solid fa-lungs"></i>
                                <p>Atividades aeróbicas tornam nossos pulmões mais eficientes, aproveitando melhor o ar inspirado.</p>
                            </div>
                        </div>
                    </div>
                    <i class="fa-solid fa-arrow-right flecha" onclick="mudaImg1()"></i>
                </div>
            </div>
        </section>
        <section class="container ia flex">
            <div id="abrir">
                <div class="containerIa">
                    <p>Por que utilizar Inteligências Artificiais?</p>
                </div>
    
                <div class="insight_ia">
                    <img src="../static/images/puxador/ia.jpg" alt="Núcleo representando IA">
                    <p>As inteligências artificiais oferecem soluções inovadoras para otimizar processos,
                        análises e automatização de sistemas. Elas são capazes de analisar grandes
                        quantidades de dados rapidamente, fornecendo informações que seriam de mais difícil 
                        acesso manualmente.
                        <br><br>
                        Com seu potencial de aprendizado via informações fornecidas, 
                        a IA torna-se cada vez mais sábia, sendo capaz de considerar diversas possibilidades não 
                        imaginadas antes. Essa tecnologia é a peça-chave para que nosso sistema funcione adequadamente.
                    </p>
                </div>
            </div>
            <div class="puxador">
            </div>
        </section>
        <section id="avaliacao">
            <div id="particles-js" class="seçao_5">

                <div class="avaliacao flex">
                    <div class="logoAvaliacao">
                        <p class="genz_logo">GenZ</p>
                        <p class="txt_dynamics">Dynamics</p>
                    </div>
                    <h1 class="programa_aux">PROGRAMA AUXILIAR DE TREINO DE CONCÓRDIA!</h1>
                    <button class="botao_treino" id="buttonAval" onclick="window.location.hash='#avaliacao'">Faça sua avaliação!</button>
                </div>

                <div class="darkground" id="darkground">
                    <div class="info">
                        <div class="avaliacao flex">
                            <div class="logoAvaliacao">
                                <p class="genz_logo">GenZ</p>
                                <p class="txt_dynamics">Dynamics</p>
                            </div>
                            <h1 class="programa_aux">PROGRAMA AUXILIAR DE TREINO DE CONCÓRDIA!</h1>
                            <button class="botao_treino" id="buttonAval">Faça sua avaliação!</button>
                        </div>
                        <div id="overlaymodal">
                            <div class="modal" id="modal">   
                                <div class="aviso_secao5">   
                                    <img src="../static/images/avaliacao/warning.png" alt="">
                                    <h1>AVISO</h1>
                                </div>
                                <p>Atente-se ao fato de que Inteligências Artificiais são tecnologias em desenvolvimento e podem 
                                    cometer erros durante seu funcionamento, não considere os resultados deste sistema como verdade absoluta. 
                                    É importante consultar um profissional da área antes de começar sua prática de exercícios.</p>
                                <a href="/avaliacao">COMPREENDO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="sobreNos" class="container">
            <i class="fa-solid fa-arrow-left flecha" onclick="previousItem()"></i>
            <div class="sobreTudo">
                <div class="sobreEscrito">
                        <p class="sobreTitulo">SOBRE NÓS</p>
                        <div class="sobreTextoCaixa">
                            <div class="sobreTexto">
                            <p id="sobreNome">João Pilger</p>
                            <p id="sobreTexto">Estudante de 16 anos do Intituto Federal Catarinense Campus Concórdia, no curso de informática para internet. Atuando como líder do grupo 5 durante o segundo semestre letivo. Resposável pela seção do carrossel de informações, estilização primária do formulário de avaliação e cooperando no desinvolvimento do sistema prescritor de treinos com Inteligência Artificial.</p>
                            </div>
                        </div>
                </div>
                <div class="sobreImagem">
                    <img class="sobreIntegrante" id="sobreIntegrante" src="../static/images/integrantes/pilger.png" alt="Imagem do integrante">
                </div>
            </div>
            <i class="fa-solid fa-arrow-right flecha" onclick="nextItem()"></i>
        </section>
        <footer class="container">
            <div id="footerLogo">
                <p class="footerGenZ">GenZ</p>
                <p class="footerDynamics">Dynamics</p>
            </div>
            <div id="footerIfc">
                <a href="https://concordia.ifc.edu.br/"><img src="../static/images/footer/logoIfc.png" alt="Logo do Instituto Federal Catarinense"></a>
            </div>
            <div id="footerGemini">
                <p>Inteligência Artificial utilizada:</p>
                <a href="https://gemini.google.com/app"><img src="../static/images/footer/logoGemini.png" alt="Logo da Gemini, inteligência artifical do Google"></a>
            </div>
            <div id="footerContato">
                <p>Contato:</p>
                <p>genzdynamicscontato@gmail.com</p>
            </div>
        </footer>
    </main>
    <script src="../static/js/script.js" async></script>
    <script src="../static/js/particles.js" async></script>
    <script src="../static/js/app.js" async></script>
</body>
</html>
