@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@keyframes balancar {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

:root {
    --verde: #ABF8CA;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family:"Aldrich", sans-serif;
}

body {
    display: flex;
    width: 1920px;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
}

#abrir {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    justify-content: center;
}

.container {
    color: white;
    background-color: black;
    width: 1300px;
    height: 175px;
    margin: auto;
    text-align: center;
    align-content: center;
}

.container > p {
    font-size: 48px;
    font-family: 'Bebas Neue';
}

#setinha_arrastar {
    width: 80px;
    height: 80px;
}

.puxador {
    text-align: center;
}

.puxador img {
    height: 100px;
    width: 100px;
    animation: balancar 3s infinite ease-in-out;
    transform-origin: top center;
    cursor: pointer;
}

.insight_ia {
    display: flex;
    align-items: center;
    background-color: black;
    width: 1300px;
    height: 462px;
    margin: auto;
}

.insight_ia img {
    height: 420px;
    width: 420px;
    margin-left: 83px;

}

.insight_ia p {
    color: white;
    font-size: 24px;
    margin: 0px 80px;
}