.aldrich-regular {
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
    margin: 0;
    background: linear-gradient(to bottom, aquamarine, lightblue);
    padding: 0;
    position: relative;
}
#div_tudo {
    position: relative;
    height: 300px;
}

.nuvens {
    position: relative;
    animation: movenuvens 50s infinite;
}

.nuvens img {
    width: 200px;
    height: auto; 
    position: absolute;
    animation: movenuvens 50s infinite;
    animation-delay: 2s;
}

#nuvem1 {
    bottom: -100px;
    left:-300px;
    animation: movenuvens 50s infinite;
    animation-delay: 4s;
}

#nuvem2 {
    bottom: 0; 
    left:200px
}

#nuvem3 {
    bottom: -100px;
    left:700px
}

#osdois {
    display: flex;
    flex-direction: row;
    position: relative; 
    animation: moveSprite 12s forwards; 
    filter: contrast(1.5);
}

#sprite {
    width: 320px; 
    height: 320px;
    background-image: url('sprites/sprite1.png'); 
    background-size: cover; 
    position: relative;
    bottom: -160px;
    left: 100px; 
    filter: drop-shadow(0.5px rgba(0, 0, 0, 1));
    z-index: 2; 
}

#h1 {
    filter: contrast(1.5) drop-shadow(2px rgba(0, 0, 0, 1));
    font-size: 20px;
    font-weight: 1000;
}
#caixa {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    width: 350px;
    height: 350px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    display: flex;
    justify-content: center; 
    text-align: center;
    filter: contrast(1.5) drop-shadow(10px -10px rgba(0, 0, 0, 1));
    flex-direction: column;
    font-family: "Aldrich";
    z-index: 2;
}

@keyframes moveSprite {
    0% {
        left: -1100px; 
    }
    100% {
        left: -200px;
    }
}
/* 
@keyframes movenuvens{
    0% {
        left: -1100px; 
    }
    100% {
        left: 2000px;
    }
} */
