<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../static/js/resultado.js" async></script>
    <link rel="stylesheet" href="../../static/css/formulario/resultado.css">
</head>
<body>
    <div class="segunda"></div>
    <div class="terca"></div>
    <div class="quarta"></div>
    <div class="quinta"></div>
    <div class="sexta"></div>
    <div class="sábado"></div>
    <div class="domingo"></div>
</body>
</html>