<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/formulario/formulario.css">
    <title>Formulário</title>
</head>
<body>
    <section class="container formulario">
        <form action="/submit" method="POST" class="form" id="myForm">
            <div class="slider" id="slider">
                <div id="slide">
                    <fieldset class="info basico">
                        <h1>Informações Básicas</h1>
                        <div class="pergs">
                            <div class="perg">
                                <label for="nome">Nome</label> <!-- string -->
                                <input type="text" id="nome" name="nome" required>
                            </div>
                            
                            <div class="perg">
                                <label for="idade">Idade</label> <!-- int -->
                                <input type="number" id="idade" name="idade" required>
                            </div>
            
                            <div class="perg radio">
                                <label>Sexo:</label> <!-- bool -->
                                <div>
                                    <div>
                                        <label for="masc">Masculino</label>
                                        <input type="radio" id="masc" name="sexo" value="masc" required>
                                    </div>
                                    <div>
                                        <label for="fem">Feminino</label>
                                        <input type="radio" id="fem" name="sexo" value="fem" required>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="perg">
                                <label for="peso">Peso</label> <!-- float -->
                                <input type="number" id="peso" name="peso" placeholder="78,4" required>
                            </div>
            
                            <div class="perg">
                                <label for="altura">Altura</label> <!-- float -->
                                <input type="number" id="altura" name="altura" placeholder="1,75" required>
                            </div>
                        </div>
                        <div class="submit passar">Próximo</div>
                    </fieldset>
    
                    <!-- Atividades regulares -->
                    <fieldset class="info atv">
                        <h1>Informações sobre prática anterior de atividades físicas</h1>
                        <div class="pergs">
                            <div class="perg radio">
                                <label>Você pratica atividade regularmente?</label> <!-- bool -->
                                <div>
                                    <div>
                                        <label for="atvSim">Sim</label>
                                        <input type="radio" id="atvSim" name="atividadeRegular" value="sim" required>
                                    </div>
                                    <div>
                                        <label for="atvNao">Não</label>
                                        <input type="radio" id="atvNao" name="atividadeRegular" value="nao" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pergsSim">     
                            <div class="perg quais">
                                <label for="atvQual">Qual(is):</label> <!-- string -->
                                <textarea name="atividadeQuais" id="atvQual" placeholder="Caminhada, futebol..." class="qualPerg"></textarea>
                            </div>
    
                            <div class="perg radio">
                                <label>Frequência semanal:</label> <!-- bool (para cada um) -->
    
                                <div>
                                    <div>
                                        <label for="atv1">De 1 a 3 vezes</label>
                                        <input type="radio" name="atividadeFrequencia" id="atv1" value="1-3 vezes">
                                    </div>
                                    <div>
                                        <label for="atv2">De 3 a 5 vezes</label>
                                        <input type="radio" name="atividadeFrequencia" id="atv2" value="3-5 vezes">
                                    </div>
                                    <div>
                                        <label for="atv3">De 5 a 7 vezes</label>
                                        <input type="radio" name="atividadeFrequencia" id="atv3" value="5-7 vezes">
                                    </div>
                                </div>
                                
                            </div>
    
                            <div class="perg radio">
                                <label>Duração:</label> <!-- bool (para cada um) -->
    
                                <div>
                                    <div>
                                        <label for="dur1">De 0 a 1 hora</label>
                                        <input type="radio" name="atividadeDuracao" id="dur1" value="0-1 horas">
                                    </div>
                                    <div>
                                        <label for="dur2">De 1 a 2 horas</label>
                                        <input type="radio" name="atividadeDuracao" id="dur2" value="1-2 horas">
                                    </div>
                                    <div>
                                        <label for="dur3">Mais de 2 horas</label>
                                        <input type="radio" name="atividadeDuracao" id="dur3" value="2+ horas">
                                    </div>
                                </div>
                        </div>
                            </div>
                            <div class="perg radio">
                                <label>Tempo regular de sono:</label> <!-- bool (para cada um) -->
        
                                <div>
                                    <div>
                                        <label for="sono1">De 4 horas ou menos</label>
                                    <input type="radio" name="sono" id="sono1" value="-4 horas" required>
                                    </div>
                                    <div>
                                        <label for="sono2">De 5 horas à 8 horas</label>
                                        <input type="radio" name="sono" id="sono2" value="5-8 horas" required>
                                    </div>
                                    <div>
                                        <label for="sono3">Mais de 8 horas</label>
                                        <input type="radio" name="sono" id="sono3" value="8+ horas" required>
                                    </div>
                                </div>
                            </div>
                        <div class="buttons">
                            <div class="submit voltar">Voltar</div>
                            <div class="submit passar">Próximo</div>
                        </div>
                    </fieldset>
    
                    <!-- Doença ou Deficiência -->
                    <fieldset class="info doencaDefic">
                        <h1>Informações sobre possíveis interferências</h1>
                        <div class="pergs">
                            <div class="perg radio">
                                <label>Possui alguma doença que impede a realização de atividades físicas?</label> <!-- bool -->
                                <div>
                                    <div>
                                        <label for="simDoenca">Sim</label>
                                        <input type="radio" name="doenca" id="simDoenca" value="sim" required>
                                    </div>
                                    <div>
                                        <label for="naoDoenca">Não</label>
                                        <input type="radio" name="doenca" id="naoDoenca" value="nao" required>
                                    </div>
                                </div>
                            </div>
                            <div class="pergSimDoe">
                                <div class="pergquais">
                                    <label for="qualDoenca">Qual(is)</label>
                                    <textarea name="qualDoenca" id="qualDoenca" placeholder="Arritmia, paralisia dos membros inferiores..." class="qualPerg"></textarea>
                                </div>
                            </div>
                        <div class="pergs">
                            <div class="perg radio">
                                <label>Possui alguma deficiência física?</label> <!-- bool -->
                                <div>
                                    <div>
                                        <label for="simDefic">Sim</label>
                                        <input type="radio" name="deficiencia" id="simDefic" value="sim" required>
                                    </div>
                                    <div>
                                        <label for="naoDefic">Não</label>
                                        <input type="radio" name="deficiencia" id="naoDefic" value="nao" required>
                                    </div>
                                </div>
                            </div>
                                <div class="pergSimDefi">
                                    <div class="pergquais">
                                        <label for="qualDefic">Qual(is)</label>
                                        <textarea name="qualDeficiencia" id="qualDefic" placeholder="Amputação transtibial, distrofia muscular..." class="qualPerg"></textarea>
                                    </div>
                                </div>
                        </div>
                        <div class="buttons">
                            <div class="submit voltar">Voltar</div>
                            <div class="submit passar">Próximo</div>
                        </div>
                    </fieldset>
    
                    <!-- Saúde -->
                    <fieldset class="info saude">
                        <h1>Informações sobre a sua saúde</h1>
                        <div class="pergs">
                            <div class="perg radio">
                                <label>Fez ou fará cirurgia?</label> <!-- bool -->
                                <div>
                                    <div>
                                        <label for="cirurSim">Já fiz</label>
                                        <input type="radio" name="cirurgia" id="cirurSim" value="sim" required>
                                    </div>
                                    <div>
                                        <label for="cirurNao">Não</label>
                                        <input type="radio" name="cirurgia" id="cirurNao" value="nao" required>
                                    </div>
                                    <div>
                                        <label for="cirurFazer">Irei fazer</label>
                                        <input type="radio" name="cirurgia" id="cirurFazer" value="fazer" required>
                                    </div>
                                </div>
                            </div>
                            <div class="pergSimCirur">     
                                <div class="perg quais">
                                    <label for="qualCirurgia">Qual(is)</label> <!-- string -->
                                    <textarea name="qualCirurgia" placeholder="Reconstrução mamária, bariátrica, prótese..." id="qualCirurgia" class="qualPerg"></textarea>
                                </div>
                                <div class="perg quais">
                                    <label for="tempoCirur">Há quanto que tempo foi realizada a cirurgia?</label>
                                    <div>
                                        <div>
                                            <label for="cirurMenos1Mes">Menos de 1 mês</label>
                                            <input type="radio" name="cirurTempo" id="cirurMenos1Mes">
                                        </div>
                                        <div>
                                            <label for="cirur1A3Meses">1 a 3 meses</label>
                                            <input type="radio" name="cirurTempo" id="cirur1A3Meses">
                                        </div>
                                        <div>
                                            <label for="cirur3A6Meses">3 meses a 6 meses</label>
                                            <input type="radio" name="ciruTempo" id="cirur3A6Meses">
                                        </div>
                                        <div>
                                            <label for="cirur6MesesA1Ano">6 meses a 1 ano</label>
                                            <input type="radio" name="cirurTempo" id="cirur6MesesA1Ano">
                                        </div>
                                        <div>
                                            <label for="cirur1AnoMais">Mais de 1 ano</label>
                                            <input type="radio" name="cirurTempo" id="cirur1AnoMais">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pergFazerCirur">
                                <div class="perg quais">
                                    <label for="cirurRest">Há alguma restrição? Se sim, qual?</label>
                                    <div>
                                        <textarea name="qualCirurgia" id="qualCirurgia" placeholder="Prática anaeróbica..." class="qualPerg"></textarea>
                                    </div>
                                </div>
                                <div class="perg quais">
                                    <label for="cirurTempo">Tempo até a realização da cirurgia?</label>
                                    <div>
                                        <label for="cirurtemp1">Menos de 1 mês</label>
                                        <input type="radio" name="cirurtemp" id="">
                                    </div>
                                    <div>
                                        <label for="cirurtemp2">1 a 3 meses</label>
                                        <input type="radio" name="cirurtemp" id="">
                                    </div>
                                    <div>
                                        <label for="cirurtemp3">3 a 6 meses</label>
                                        <input type="radio" name="cirurtemp" id="">
                                    </div>
                                    <div>
                                        <label for="cirurtemp1">6 meses a 1 ano</label>
                                        <input type="radio" name="cirurtemp" id="">
                                    </div>
                                    <div>
                                        <label for="cirurtemp1">Mais de 1 ano</label>
                                        <input type="radio" name="cirurtemp" id="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pergs">
                            <div class="perg radio">
                                <label>Toma medicamento(s) frequentemente?</label> <!-- bool -->
                                <div>
                                    <div>
                                        <label for="medSim">Sim</label>
                                        <input type="radio" name="medicamento" id="medSim" value="sim" required>
                                    </div>
                                    <div>
                                        <label for="medNao">Não</label>
                                        <input type="radio" name="medicamento" id="medNao" value="nao" required>
                                    </div>
                                </div>
                            </div>
                            <div class="pergSimMed">
                                <div class="perg quais">
                                    <label for="qualMed">Qual(is)</label> <!-- string -->
                                    <textarea name="qualCirur" id="qualMed" placeholder="Propranolol, fluoxetina, progesterona..." class="qualPerg"></textarea>
                                </div>
                            <div class="perg radio">
                                <label>Frequência:</label> <!-- bool (para cada um) -->
                                <div>
                                    <div>
                                        <label for="medFre1">De 0 à 1 vez semanal</label>
                                        <input type="radio" name="medFre" id="medFre1">
                                    </div>
                                    <div>
                                        <label for="medFre2">De 2 à 3 vezes semanais</label>
                                        <input type="radio" name="medFre" id="medFre2">
                                    </div>
                                    <div>
                                        <label for="medFre3">De 4 à 5 vezes semanais</label>
                                        <input type="radio" name="medFre" id="medFre3">
                                    </div>
                                    <div>
                                        <label for="medFre4">De 6 à 7 vezes semanais</label>
                                        <input type="radio" name="medFre" id="medFre4">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <div class="submit voltar">Voltar</div>
                            <div class="submit passar">Próximo</div>
                        </div>
                    </fieldset>
                    <fieldset class="info bebidaFumo">
                        <h1>Uso de entorpecentes</h1>
                        <div class="pergs">
                            <div class="perg radio">
                                <label>Ingere bebidas alcoólicas?</label> <!-- bool -->
                                <div>
                                    <div>
                                        <label for="bebidaSim">Sim</label>
                                        <input type="radio" name="alcool" id="bebidaSim" value="sim" required>
                                    </div>
                                    <div>
                                        <label for="bebidaNao">Não</label>
                                        <input type="radio" name="alcool" id="bebidaNao" value="nao" required>
                                    </div>
                                </div>
                            </div>
                            <div class="pergSimBebe">
                            <div class="perg radio">
                                <label>Frequência:</label> <!-- bool (para cada um) -->
                                <div>
                                    <div>
                                        <label for="bebidaFre1">De 0 à 1 vez semanal</label>
                                        <input type="radio" name="alcoolFrequencia" id="bebidaFre1" value="0-1 semanal">
                                    </div>
                                    <div>
                                        <label for="bebidaFre2">De 2 à 3 vezes semanais</label>
                                    <input type="radio" name="alcoolFrequencia" id="bebidaFre2" value="2-3 semanal">
                                    </div>
                                    <div>
                                        <label for="bebidaFre3">De 4 à 5 vezes semanais</label>
                                        <input type="radio" name="alcoolFrequencia" id="bebidaFre3" value="4-5 semanal">
                                    </div>
                                    <div>
                                        <label for="bebidaFre4">De 6 à 7 vezes semanais</label>
                                        <input type="radio" name="alcoolFrequencia" id="bebidaFre4" value="6-7 semanal">
                                    </div>
                                </div>
                            </div>    
                        </div>
                        </div>
                        <div class="pergs">
                            <div class="perg radio">
                                <label>Fuma?</label> <!-- bool -->
                                <div>
                                    <div>
                                        <label for="fumoSim">Sim</label>
                                        <input type="radio" name="fumo" id="fumoSim" value="sim" required>
                                    </div>
                                    <div>
                                        <label for="fumoNao">Não</label>
                                        <input type="radio" name="fumo" id="fumoNao" value="nao" required>
                                    </div>
                                </div>
                            </div>
                            <div class="pergSimFuma">
                            <div class="perg radio">
                                <label>Frequência:</label> <!-- bool (para cada um) -->
                                <div>
                                    <div>
                                        <label for="fumoFre1">De 0 à 1 vez semanal</label>
                                        <input type="radio" name="fumoFrequencia" id="fumoFre1" value="0-1 semanal">
                                    </div>
                                    <div>
                                        <label for="fumoFre2">De 2 à 3 vezes semanais</label>
                                        <input type="radio" name="fumoFrequencia" id="fumoFre2" value="2-3 semanal">
                                    </div>
                                    <div>
                                        <label for="fumoFre3">De 4 à 5 vezes semanais</label>
                                        <input type="radio" name="fumoFrequencia" id="fumoFre3" value="4-5 semanal">
                                    </div>
                                    <div>
                                        <label for="fumoFre4">De 6 à 7 vezes semanais</label>
                                        <input type="radio" name="fumoFrequencia" id="fumoFre4" value="6-7 semanal">
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <div class="submit voltar">Voltar</div>
                            <div class="submit passar">Próximo</div>
                        </div>
                    </fieldset>
    
                    <!-- Informações sobre nova atividades -->
                    <fieldset class="info novaAtv">
                        <h1>Disponibilidade e Intensidade da atividade</h1>
                        <div class="pergs">
                            <div class="perg radio">
                                <label>Frequência semanal:</label> <!-- bool (para cada um) -->
                                    <div>
                                        <div>
                                            <label for="atvNovaFre1">De 0 à 1 vez</label>
                                            <input type="radio" name="atividadeNovaFrequencia" id="atvNovaFre1" value="0-1 dias" required>
                                        </div>
                                        <div>
                                            <label for="atvNovaFre2">De 2 à 3 vezes</label>
                                            <input type="radio" name="atividadeNovaFrequencia" id="atvNovaFre2" value="2-3 dias" required>
                                        </div>
                                        <div>
                                            <label for="atvNovaFre3">De 4 à 5 vezes</label>
                                            <input type="radio" name="atividadeNovaFrequencia" id="atvNovaFre3" value="4-5 dias" required>
                                        </div>
                                        <div>
                                            <label for="atvNovaFre4">De 6 à 7 vezes</label>
                                            <input type="radio" name="atividadeNovaFrequencia" id="atvNovaFre4" value="6-7 dias" required>
                                        </div>
                                    </div>
                            </div>
                            <div class="perg radio">
                                <label>Quanto tempo livre você tem no dia para a realização de exercícios?</label> <!-- bool (para cada um) -->
                                <div>
                                    <div>
                                        <label for="atvNovaTempo1">De 0 à 30 minutos diários</label>
                                        <input type="radio" name="atividadeNovaTempo" id="atvNovaTempo1" value="0-30mins" required>
                                    </div>
                                    <div>
                                        <label for="atvNovaTempo1">De 30 minutos à 1 hora diária</label>
                                        <input type="radio" name="atividadeNovaTempo" id="atvNovaTempo2" value="30min-1hora" required>
                                    </div>
                                    <div>
                                        <label for="atvNovaTempo2">De 1 hora à 1 hora e meia diária</label>
                                        <input type="radio" name="atividadeNovaTempo" id="atvNovaTempo3" value="1hora-1hora e meia" required>
                                    </div>
                                    <div>
                                        <label for="atvNovaTempo3"> De 2 horas diárias ou mais</label>
                                        <input type="radio" name="atividadeNovaTempo" id="atvNovaTempo4" value="2+horas" required>
                                    </div>
                                </div>
                            </div>
                            <div class="perg radio">
                                <label>Período do dia:</label>  <!-- bool (para cada um) -->
                                <div>
                                    <div>
                                        <label for="atvNovaPer1">Manhã</label>
                                        <input type="radio" name="atividadeNovaPeriodo" id="atvNovaPer1" value="manha" required>
                                    </div>
                                    <div>
                                        <label for="atvNovaPer2">Tarde</label>
                                        <input type="radio" name="atividadeNovaPeriodo" id="atvNovaPer2" value="tarde" required>
                                    </div>
                                    <div>
                                        <label for="atvNovaPer3">Noite</label>
                                        <input type="radio" name="atividadeNovaPeriodo" id="atvNovaPer3" value="noite" required>
                                    </div>
                                </div>
                            </div>
                            <div class="perg radio">
                                <label>Intensidade da atividade:</label> <!-- bool (para cada um) -->
                                <div>
                                    <div>
                                        <label for="atvNovaIntense1">Leve</label>
                                        <input type="radio" name="atividadeNovaIntensidade" id="atvNovaIntense1" value="leve" required>
                                    </div>
                                    <div>
                                        <label for="atvNovaIntense2">Intermediária</label>
                                        <input type="radio" name="atividadeNovaIntensidade" id="atvNovaIntense2" value="intermediaria" required>
                                    </div>
                                    <div>
                                        <label for="atvNovaIntense3">Pesada</label>
                                        <input type="radio" name="atividadeNovaIntensidade" id="atvNovaIntense3" value="pesada" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <div class="submit voltar">Voltar</div>
                            <div class="submit passar">Próximo</div>
                        </div>

                    </fieldset>
                    <fieldset>
                        <div class="info" style="height: auto;">
                            <div>
                                <label for="infoExtra">Infomações extras que julga serem importantes:</label> <!-- string -->
                                <textarea name="infoExtra" id="infoExtra" class="perg"></textarea>
                            </div>
                            <div class="buttons">
                                <div class="submit voltar">Voltar</div>
                                <button class="submit" type="button" id="btnSubmit" onclick="window.location.href = '/resultado'">Enviar</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </section>
    <script src="../../static/js/formulario.js"></script>
</body>
</html>